{% extends 'base.html' %}
{% load online_content_tags %}

{% block title %}
	{% if preview %}
		{{ localized_template_content.draft_title }}
	{% else %}
		{{ localized_template_content.published_title }}
	{% endif %}
{% endblock %}

{% block content %}
	<div class="container translucent white">
		<h2>
			{% if preview %}
				{{ localized_template_content.draft_title }}
			{% else %}
				{{ localized_template_content.published_title }}
			{% endif %}
		</h2>

		<h4>Not layoutable content:</h4>
		{% cms_get_microcontent 'simple_content' %}


		<h4>Fully Layoutable content:</h4>
		{% cms_get_microcontent 'layout1' 'layoutable-full' %}

		<h4>Simply Layoutable content:</h4>
		{% cms_get_microcontent 'layout2' 'layoutable-simple' %}

		<h4>multiple unLayoutable content:</h4>
		{% cms_get_microcontents 'multi-content' as multi_contents %}
		{% for cont in multi_contents %}
			<p>
				{{ cont }}
			</p>
		{% endfor %}

		<h4>An Image:</h4>
		{% cms_get_image 'test_image' as image %}
		<img src="{{ image.url }}" class="img-thumbnail" />

		<h4>Multiple images:</h4>
		{% cms_get_images 'multi_image' as mimages %}
		{% for mimage in mimages %}
			<img src="{{ mimage.url }}" class="img-thumbnail"/>
		{% endfor %}

		<h4>Latest Templated Content (News):</h4>
		{% include_latest_content 'feature/news.html' %}
		
		<h4>Last 3 Templated Content (News):</h4>
		{% get_template_content 'feature/news.html' limit=3 as newspages %}
		{% for news in newspages %}
			{% include_content news %}
		{% endfor %}
	</div>
{% endblock %}
