{% load i18n online_content_tags %}
{% if flag_tree %}

	{% if flag_tree.toplevel_count == 0 %}
	{% elif flag_tree.toplevel_count == 1 %}
		<ul class="nav">
		{% for entry in flag_tree %}
			{% if entry.children %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ entry.localized_template_content.title }}</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</li>
			{% else %}
				<li class="nav-item">
					<div class="nav-link tap" link="{{ entry.in_app_link }}">{{ entry.navigation_link_name }}</div>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	{% else %}
		<ul class="nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Read more' %}</a>
				<div class="dropdown-menu">
					{% for entry in flag_tree %}
						<a class="dropdown-item tap" link="{{ entry.in_app_link }}">{{ entry.navigation_link_name }}</a>
					{% endfor %}
				</div>
			</li>
		</ul>
	{% endif %}
{% endif %}
