<script>
    (function() {
        function loadCategoryPolygons() {
            $('.category-polygons').each(function() {
                const container = $(this);
                const url = container.data('url');

                $.get(url, function(html) {
                    container.html(html);
                    container.endlessPaginate();
                    ajaxify(container);
                });
            });
        }

        function loadPolygonCategories() {
            const url = "{% url 'geography:get_polygon_categories' app.uid %}";
            fetch(url, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                credentials: 'same-origin'
            })
                .then(response => response.text())
                .then(html => {
                    $('#polygon-category-list').html(html);
                    ajaxify("polygon-category-list");
                    loadCategoryPolygons();
                })
                .catch(error => {
                    console.error('Error loading polygon categories:', error);
                });
        }

        loadPolygonCategories();
    })();
</script>