{% extends 'localcosmos_server/modals/modal_form.html' %}
{% load i18n %}

{% block title %}
    {% if point_rule_condition %}
        {% blocktrans with name=point_rule_condition.rule.name %}Manage {{ name }}{% endblocktrans %}
    {% else %}
        {% blocktrans %}Create Point Rule Condition{% endblocktrans %}
    {% endif %}
{% endblock %}

{% block action %}
    {{ action_url }}
{% endblock %}

{% block footer %}
	{% include 'localcosmos_server/modals/footers/save_close.html' %}
{% endblock %}

{% block script %}
    {% if success is True %}
        {% include 'achievements/snippets/reload_point_rule_list.html' %}
        <script>
            setTimeout(function() {
                hideModal();
            }, 200);
        </script>
    {% endif %}
{% endblock %}