<div>
	{% block init %}
		<script>
			// this breaks the modals
			//$("#LargeModalContent").empty();
		</script>
	{% endblock %}

	{% block above %}{% endblock %}

	{% block modal_content %}
		{% block header %}
			<div class="modal-header">
				<h1 class="modal-title fs-5">{% block title %}{% endblock %}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
		{% endblock %}
		
		<div class="modal-body">
			{% block body %}{% endblock %}
			{% block extra_body %}{% endblock %}
		</div>
		<div class="modal-footer">
			{% block footer %}{% endblock %}
		</div>
	{% endblock %}

	{% block open_modal %}
		<script>
			let modalEl = document.getElementById("Modal");
			if (modalEl && !modalEl.classList.contains("show")) {
				const modal = bootstrap.Modal.getOrCreateInstance(modalEl);
				modal.show();
			}
		</script>
	{% endblock %}

	{% block below %}{% endblock %}
	{% block script %}{% endblock %}
</div>